@import url("../../styles/scss/_variables.scss");

.container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  top: 150px;
  flex-direction: column;
}

.image-icon {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: #fff;
  margin-bottom: 50px;
}

.single-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 300px;
  padding: 30px 20px;
  border: 2px solid white;
  text-align: center;
  transition:
    0.2s background cubic-bezier(0, 0, 0, 1) 0s,
    0.2s color cubic-bezier(0, 0, 0, 1) 0s,
    0.2s height cubic-bezier(0, 0, 0, 1) 0s;
}

.single-item:hover {
  height: 80px;
  font-weight: bold;
  background: white;
  color: #000;
}

.single-item + .single-item {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    top: 100px;
  }

  .image-icon {
    width: 120px;
    height: 120px;
  }

  .single-item {
    padding: 25px 20px;
    min-width: 270px;
  }
}
