@use "references" as *;

.detailsGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: $gutter;

  @include respond-to(tablet) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-default;
    padding-block: $space-sm;
  }
}

.label {
  grid-column: span 2;
  font-family: $font-contrast;
  font-weight: $font-weight-light;
  font-size: var(--fs-label);
  line-height: $line-height-label;
  letter-spacing: -0.04em;
  color: $color-text-primary-muted;
}

.value {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: $line-height-label;
  color: $color-text-primary;

  @include respond-to(tablet) {
    font-family: $font-contrast;
    font-weight: $font-weight-semibold;
    font-size: var(--fs-label);
    text-align: right;
    max-width: 180px;
  }
}

.technologies {
  @include respond-to(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    span:not(:last-child)::after {
      content: ", ";
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .detailsGroup > * {
    --reveal-step: 1;
  }
}
