@use "references" as *;

.help {
  display: flex;
  flex-direction: column;
  gap: $gutter;
  padding: 64px 0;

  @include respond-to(tablet) {
    gap: $space-2xl;
  }

  @include respond-to(mobile) {
    gap: $space-2xl;
  }

  .helpTitle {
    @include heading-2;

    letter-spacing: -0.02em;
  }

  .helpGrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: $gutter;

    @include respond-to(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      row-gap: $space-2xl;
    }

    @include respond-to(mobile) {
      grid-template-columns: 1fr;
      row-gap: $space-2xl;
    }

    .card {
      grid-column: span 4;
      display: flex;
      flex-direction: column;
      gap: $space-xs;

      @include respond-to(tablet) {
        grid-column: auto;
      }

      @include respond-to(mobile) {
        grid-column: auto;
      }

      .cardTitle {
        @include heading-3-lg;

        color: $color-text-primary;
        letter-spacing: -0.02em;
      }

      .cardBody {
        font-family: $font-label;
        font-weight: $font-weight-semibold;
        font-size: $font-size-base;
        line-height: $line-height-label;
        letter-spacing: -0.02em;
        color: $color-text-primary-muted;
      }
    }
  }
}
