@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,400&display=swap");

.container {
    width: 100%;
    background-color: rgb(10, 10, 10);
    color: white;
    z-index: 3;
    padding-top: 10vh;
    justify-content: center;
    height: fit-content;
    ;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: rgb(10, 10, 10);
    color: black;
    // overflow-y: hidden;
    max-width: 1920px;
    margin: 0 auto;

    &__left {
        width: 40%;
        // height: 90vh;

        img {
            width: 100%;
            padding-bottom: 150px;
            object-fit: cover;
            -webkit-filter: grayscale(80%);
            // margin-top: 135px;
            position: sticky;
            top: 200px
        }
    }

    &__right {
        width: 60%;
        height: 100%;
        color: white;
        padding: 150px 80px 150px 80px;

        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: "Roboto Mono", monospace;

        h2 {
            font-weight: 400;
            font-size: 4rem;
            margin-bottom: 300px;
        }

        h4 {
            font-weight: 300;
            font-size: 1.2rem;
        }

        &__aboutMe {
            margin-bottom: 200px;

        }

        &__aboutMe,
        &__background {
            width: 100%;

            h2 {
                font-size: 2.5rem;
                margin-bottom: 50px;
                border-bottom: 2px solid white;
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__left {
            display: none;
        }

        &__right {
            width: 100%;
            align-items: flex-start;
            padding: 30px 30px 60px;
            left: 0;

            h2 {
                font-weight: 400;
                font-size: 42px;
                margin-bottom: 100px;
            }

            &__aboutMe,
            &__background {
                margin-bottom: 0px;
                width: 100%;

                h2 {
                    font-size: 32px;
                    margin-bottom: 50px;
                    border-bottom: 2px solid white;
                }

                h4 {
                    margin-bottom: 10px;
                    line-height: 30px;
                }
            }

            &__background {
                margin-top: 40px;
            }
        }
    }
}

.resume-container {
    width: 100%;
    background-color: black;
    color: white;
    z-index: 3;
    padding: 10vh 0;
    justify-content: center;
}

.resume {
    width: 100%;
    background-color: black;
    color: white;
    z-index: 3;
    padding-top: 10vh;

    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;

    &__left {
        width: 50%;
        padding-left: 100px;
        padding-top: 222px;

        h2.section-title {
            font-weight: 400;
            font-size: 4rem;
            margin-bottom: 254px;
        }

        h4 {
            font-weight: 300;
            font-size: 1.2rem;
        }

        // &__aboutMe,
        // &__background {
        //   margin-bottom: 200px;
        //   width: 100%;
        //   h2 {
        //     font-size: 2.5rem;
        //     margin-bottom: 50px;
        //     border-bottom: 2px solid white;
        //   }
        // }
    }

    &__right {
        width: 50%;
        color: white;
        padding: 150px 80px;

        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: "Roboto Mono", monospace;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-filter: grayscale(80%);
            margin-top: -68px;
            max-height: 500px;
            position: sticky;
            top: 200px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding: 30px 30px 60px;
    }

    .resume {
        padding: 0;

        &__left {
            width: 100%;
            padding: 0;

            h2.section-title {
                margin-bottom: 40px;
            }
        }

        &__right {
            display: none;
        }
    }
}


.skills-container {
    width: 100%;
    background-color: rgb(10, 10, 10);
    color: white;
    z-index: 3;
    justify-content: center;
    height: fit-content;
    padding: 40px 100px 150px;
    font-family: "Roboto Mono", monospace;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 42px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 1920px;
        padding: 0 100px;

        @media screen and (max-width: 1440px) {
            padding: 0;
        }
    }

    .skills-sub-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        padding: 0 100px;

        @media screen and (max-width: 1440px) {
            padding: 0;
        }

        .soft-skills,
        .hard-skills {
            width: 50%;
            height: 100%;
            // padding: 150px 80px 150px 80px;
            display: flex;
            flex-direction: column;
            // align-items: center;
        }

        .group-title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .skills-container {
        padding: 40px 20px 120px;

        h2 {
            font-size: 4rem;
            margin-bottom: 40px;
        }

        .skills-sub-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .soft-skills,
            .hard-skills {
                width: 100%;
                padding: 0;
            }
        }
    }

}
