@use '../references' as *;

// Certifications Section
.certifications-section {
  width: 100%;
  margin-bottom: 80px;
  padding: 16px 0 0;

  .border-top {
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    margin-bottom: 16px;

    @include respond-to(mobile-768) {
      display: none;
    }
  }
}

.section-layout {
  display: grid;
  grid-template-columns: 1fr 742px;
  gap: 60px;
  width: 100%;

  @include respond-to(tablet-1024) {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.title-container {
  @include respond-to(mobile-768) {
    padding-bottom: 8px;
  }
}

.section-title {
  @include title-style(28px, 1.2, -0.01em);
  margin: 0;
  font-weight: 600;

  @include respond-to(mobile-768) {
    font-size: 24px;
  }
}

.title-border-bottom {
  display: none;

  @include respond-to(mobile-768) {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    margin-top: 8px;
  }
}

.certifications-table {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 20px;
  padding: 0px 0 32px;

  @include respond-to(mobile-768) {
    border-top: none;
    padding: 0px 0 8px;
    grid-template-columns: 1fr 120px;
    gap: 16px;
  }
}

.header-cell {
  @include subtitle-style(18px, 1, -0.01em);
  font-weight: 700;

  &:last-child {
    text-align: right;
  }
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 20px;
  padding: 8px 0 32px;
  border-top: 2px solid $primary-color;

  &:last-child {
    border-bottom: none;
    padding: 8px 0 0;
  }

  @include respond-to(mobile-768) {
    grid-template-columns: 1fr 120px;
    gap: 16px;
    padding: 8px 0 32px;
  }

  &>.cell-text {
    font-weight: normal;
    text-align: right;
  }
}

.row-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 8px;
  align-items: flex-start;
  margin: 0;

  @include respond-to(mobile-768) {
    padding-left: 0;
  }
}

.cell-text {
  font-family: $secondary-text-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: $primary-color;
  text-align: left;

  @include respond-to(mobile-768) {
    font-size: 16px;
  }
}
