@use '../references' as *;

// Hero Section
.hero-section {
  width: 100%;
  padding-bottom: $spacing-20;
  margin-bottom: $spacing-21;

  @include respond-to(mobile-768) {
    padding-bottom: 0;
    margin-bottom: $spacing-12;
  }
}

.page-title {
  @include title-style($font-size-10xl, $line-height-none, $letter-spacing-tighter);
  margin: 0 0 $spacing-70;

  @include respond-to(mobile-768) {
    font-size: $font-size-9xl;
    margin: 0;
  }

  @include respond-to(mobile-480) {
    font-size: $font-size-6xl;
  }
}
