@use '../references' as *;

// Hero Section
.hero-section {
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 42px;

  @include respond-to(mobile-768) {
    padding-bottom: 0px;
    margin-bottom: 24px
  }
}

.page-title {
  @include title-style(220px, 1, -0.06em);
  margin: 0 0 140px;

  @include respond-to(mobile-768) {
    font-size: 80px;
    margin: 0 0 0px;
  }

  @include respond-to(mobile-480) {
    font-size: 56px;
  }
}
