@use '../references' as *;

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  width: 100%;
  max-width: 1440px;
  padding: 190px 0px 120px;
  margin: 0 auto;

  @include respond-to(mobile-768) {
    padding: 150px 40px 80px;
  }

  @include respond-to(mobile-480) {
    padding: 120px 0px 60px;
  }
}
