@use '../references' as *;

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  width: 100%;
  max-width: $container-max-width;
  padding: $spacing-95 0 $spacing-60;
  margin: 0 auto;

  @include respond-to(mobile-768) {
    padding: $spacing-75 $spacing-20 $spacing-40;
  }

  @include respond-to(mobile-480) {
    padding: $spacing-60 0 $spacing-30;
  }
}
