@use '../references' as *;

// Intro Section
.intro-section {
  width: 100%;

  .border-top {
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    margin-bottom: 60px;

    @include respond-to(mobile-768) {
      margin-bottom: 40px;
    }
  }
}

.intro-box {
  max-width: 900px;
  background: transparent;
  margin-bottom: 156px;

  @include respond-to(mobile-768) {
    margin-bottom: 80px;
  }
}

.intro-text {
  @include text-box-text;
  margin: 0;

  @include respond-to(mobile-768) {
    font-size: 16px;
    line-height: 1.5;
  }
}
