@import "../../src/styles/scss/variables";

.contactContainer {
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
  color: $primary-color;
  font-family: $primary-font;
  display: flex;
  justify-content: center;

  .contact {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    padding: 10vh 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1340px) {
      max-width: 1340px;
      padding: 10vh 20px;
    }

    @media (max-width: 768px) {
      max-width: 426px;
      padding: 10vh 30px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 50px;
    }

    .contactSide {
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 40px;
      }
    }

    .contact-item {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      gap: 20px;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }

      a {
        font-weight: 600;
      }
    }

    img {
      width: 450px;
      filter: brightness(0.4) grayscale(80%);
    }
  }
}

@media (max-width: 768px) {
  .contact {
    max-width: 426px;
    padding: 10vh 30px;
    flex-direction: column-reverse;
    justify-content: center;


  }
}
