.img-bg-container {
  width: 100vw;
  height: 100vh;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  position: fixed;
  opacity: 0.1;
}

.single-image {
  width: 400px !important;
  height: auto !important;
  border: 3px solid white;
  position: absolute !important;
  opacity: 0.9;
  transition: 0.2s all cubic-bezier(0, 1.01, 0.39, 0.74);
  animation-name: turnOnOff;
  animation-timing-function: cubic-bezier(0, 1.01, 0.39, 0.74);
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.image_1 {
  // top: 100px !important;
  // left: 300px !important;
  animation-duration: 3s;
  transform: translate(-50%, -50%);
  top: 26%;
  left: 26%;

  @media screen and (max-width: 769px) {
    top: 8%;
    left: 18%;
  }

}

.image_2 {
  // top: 250px !important;
  // left: 550px !important;
  animation-duration: 1.68s;
  transform: translate(-50%, -50%);
  top: 32%;
  left: 70%;

  @media screen and (max-width: 769px) {
    top: 15%;
    left: 70%;
    scale: 0.8;
  }
}

.image_3 {
  // top: 550px !important;
  // left: 580px !important;
  animation-duration: 2.74s;
  transform: translate(-50%, -50%);
  top: 37%;
  left: 36%;

  @media screen and (max-width: 769px) {
    top: 24%;
    left: 31%;
    scale: 0.8;
  }
}

.image_4 {
  // top: 300px !important;
  // left: 900px !important;
  animation-duration: 1.66s;
  transform: translate(-50%, -50%);
  top: 68%;
  left: 69%;

  @media screen and (max-width: 769px) {
    top: 73%;
    left: 41%;
    scale: 0.8;
  }
}

.image_5 {
  // top: 450px !important;
  // left: 100px !important;
  animation-duration: 1.08s;
  transform: translate(-50%, -50%);
  top: 51%;
  left: 25%;

  @media screen and (max-width: 769px) {
    top: 46%;
    left: 20%;
    scale: 0.8;
  }
}

.image_6 {
  // top: 50px !important;
  // left: 1050px !important;
  animation-duration: 1.55s;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 75%;

  @media screen and (max-width: 769px) {
    top: 40%;
    left: 75%;
    scale: 0.8;
  }
}

.image_7 {
  // top: 500px !important;
  // left: 1000px !important;
  animation-duration: 2.74s;
  transform: translate(-50%, -50%);
  top: 56%;
  left: 50%;

  @media screen and (max-width: 769px) {
    top: 62%;
    left: 64%;
    scale: 0.8;
  }
}


@keyframes turnOnOff {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}
