@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap");

.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.93),
      rgba(0, 0, 0, 0.93)
    ),
    url("https://i.imgur.com/QFDIiWn.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.content {
  width: 100%;
}



.title {
  font-size: 1.9rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25vw;
  line-height: 0px;
}

.title-name {
  letter-spacing: 18px;
  margin-bottom: 60px;
}

.sub-title {
  font-family: "Open Sans", sans-serif;
}

.sub-title + .sub-title {
    margin-top: 5px;
}

.down-icon {
  position: absolute;
  bottom: 35px;
  left: 50%;
  color: white;
}

.down-icon:hover {
  size: 80%;
}

.page-link{
  color: white;
}

.page-link:visited {
  color: white;
}

.about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px 50px 0px;
  z-index: -1;
}

.about-text {
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  width: 60%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.project-list {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: auto auto auto;
  margin: 75px;
}

.project-list > a {
  text-decoration: none;
}

.project-list > a:visited {
  text-decoration: none;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  padding: 50px 0px 50px 0px;
}

.services-itens {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  margin: 75px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  padding: 50px 0px 50px 0px;
}

.contact-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.contact-item + .contact-item {
    margin-top: -25px;
}

.contact-item > h4 {
    margin-left: 25px;
}

@media(max-width: 1000px){
  .landing{
    width: 100vw;
  }
  
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 120px;
    font-size: 1.4rem;
    height: 700px;
  }

  .title-name{
    letter-spacing: 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .down-icon{
    position: inherit;
    margin-top: 180px;
    left: 42%;
  }

  .about{
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
    font-size: 1.4rem;
    position: relative;
  }

  .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-itens{
    display: grid;
  grid-gap: 50px;
  grid-template-columns: auto;
  margin: 75px;
  }

  .project-itens{
    display: grid;
  grid-gap: 50px;
  grid-template-columns: auto;
  margin: 75px;
  }

  .contact-item{
    font-size: 1rem;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
