@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Crimson+Text:wght@100;200;300;400;500;600;700&display=swap);

.page-header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 60px;
    background: transparent;
    transition: all .35s ease-in;
    color: white;
    z-index: 2;
}

.scrolled{
    top: 0;
    background-color: white;
    color: black;
    height: 60px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 40px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.mobile-option {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: all .2s ease-in;
    color: white
}

.menu-item:hover{
    color: red;
}

.menu-item:visited {
    color:  white;
}

.menu-item:visited:hover{
    color: red;
}

.scrolled .menu-item {
    color: black;
}

.scrolled .menu-item:hover {
    color: red;
}

.scrolled .menu-item:visited {
    color: black;
}

.scrolled .menu-item:visited:hover {
    color: red;
}


@media(max-width: 1000px){
    .page-header{
        width: 100vw;
        background: transparent;
        color: white;
    }

    .scrolled{
        top: 0;
        background-color: white;
        color: black;
        height: 60px;
    }

    .menu {
        display: flex;
        width: 100vw;
        height: 350px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
      }

      .menu.active {
        background: #111;
        left: 0;
        opacity: 1;
        align-content: center;
        padding-left: 0px;
      }

      .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 0px 0px;
        color: white;
      }

      
.menu-item:hover{
    color: red;
}

.menu-item:visited {
    color:  white;
}

.menu-item:visited:hover{
    color: red;
}

.scrolled .menu-item {
    color: white;
}

.scrolled .menu-item:hover {
    color: red;
}

.scrolled .menu-item:visited {
    color: white;
}

.scrolled .menu-item:visited:hover {
    color: red;
}

      .mobile-option {
        display: block;
      }
      .mobile-menu {
        display: block;
        position: static;
        right: 0;
      }

}