.project-modal-container {
  height: 350px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 998;

  @media (max-width: 768px) {
    display: none;
  }

  .modal-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s top cubic-bezier(0.76, 0, 0.24, 1);

    .project-modal {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;

      .project-modal-image {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
