@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$background-color-main: #E5E5DD;
$primary-color: #000000;
$secondary-color: #111111;

$title-font: 'Akshar', sans-serif;
$primary-text-font: 'Roboto Mono', monospace;
$secondary-text-font: 'Roboto', sans-serif;


