/* Self-hosted font-face declarations replacing Google Fonts import */
/* Adjust the URLs to where you store the font files in your project */

$background-color-main: #E5E5DD;
$primary-color: #000000;
$secondary-color: #111111;

// $title-font: 'Akshar', sans-serif;
// $primary-text-font: 'Roboto Mono', monospace;
// $secondary-text-font: 'Roboto', sans-serif;

$title-font: var(--font-akshar);
$primary-text-font: var(--font-roboto-mono);
$secondary-text-font: var(--font-roboto);
$gloock-font: var(--font-gloock);

@mixin respond-to($breakpoint) {
  @if $breakpoint ==mobile-375 {
    @media screen and (max-width: 375px) {
      @content;
    }
  }

  @else if $breakpoint ==mobile-480 {
    @media screen and (max-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint ==mobile-768 {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint ==tablet-1024 {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint ==desktop-1440 {
    @media screen and (max-width: 1440px) {
      @content;
    }
  }

  @else if $breakpoint ==desktop-1920 {
    @media screen and (min-width: 1920px) {
      @content;
    }
  }
}

@mixin title-style($font-size, $line-height, $letter-spacing) {
  font-family: $gloock-font;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  // line-height: 1;
  // text-align: center;
  letter-spacing: $letter-spacing;
  color: $primary-color;
}

@mixin subtitle-style($font-size, $line-height, $letter-spacing) {
  font-family: $primary-text-font;
  font-weight: 500;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $primary-color;
}

@mixin footer-text-box-text {
  font-family: $gloock-font;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  // letter-spacing: -0.02rem;
  color: $primary-color;
}

@mixin text-box-text {
  font-family: $primary-text-font;
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
  letter-spacing: -0.02rem;
  color: $primary-color;
}

@mixin menu-item {
  font-family: $primary-text-font;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: $primary-color;
  letter-spacing: -0.02rem;
}
