@use "references" as ref;

@font-face {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/assets/fonts/akshar/Akshar-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url('/assets/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

html {
  background-color: ref.$background-color-main;
  color: ref.$primary-color;
  font-family: ref.$primary-text-font;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;
  width: 100%;
  
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  // @media screen and (max-width: 769px) {
  //   padding: 20px;
  // }
}