@use "references" as *;

@font-face {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/assets/fonts/akshar/Akshar-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url('/assets/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $background-color-main;
  color: $primary-color;
  font-family: $primary-text-font;
  font-size: 16px; // Base font size
  line-height: 1.5; // Improved readability
  -webkit-text-size-adjust: 100%; // Prevent font scaling in landscape on iOS

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-rendering: optimizeSpeed; // Improve rendering performance

  @include respond-to(mobile-768) {
    padding: 0 20px;
  }
}
