@use '../references' as *;

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  width: 100%;
  max-width: 1440px;
  // min-height: 300px;
  padding: 200px 0 0;

  @include respond-to(mobile-768) {
    width: 100%;
    padding: 150px 0 0;
  }

  .title {
    @include title-style(245px, 182px, -0.06em);
    margin: 0 0 100px;

    @include respond-to(tablet-1024) {
      @include title-style(140px, normal, -0.06em);
    }

    @include respond-to(mobile-768) {
      @include title-style(112px, normal, -0.06em);
    }

    @include respond-to(mobile-480) {
      @include title-style(72px, 72px, -0.08em);
      margin: 0 0 100px;
    }


    .project-counter {
      @include title-style(110px, normal, 0em);
      margin-left: -16px;
      padding-bottom: 6px;

      @include respond-to(tablet-1024) {
        @include title-style(64px, normal, 0em);
        margin-left: 0px;
      }

      @include respond-to(mobile-480) {
        @include title-style(32px, normal, 0em);
      }
    }
  }

  .project-list-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    .border {
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      // margin: 16px 0 0;
    }

    .project-item {
      // font-family: $primary-text-font;
      color: #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      text-decoration: none;

      gap: 20px;
      padding: 16px 0;

      .project-index {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: -0.02rem;
        width: 100%;
        max-width: 134px;
        margin: 0;
        text-decoration: none;

        @include respond-to(mobile-768) {
          display: none;
        }
      }

      .project-title-subtitle {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        .project-title {
          font-size: 22px;
          font-family: $secondary-text-font;
          font-weight: bold;
          line-height: normal;
          letter-spacing: -0.02rem;
  
          width: 100%;
          margin: 0;
          text-decoration: none;
  
          // @include ref.respond-to(mobile-768) {
          //   display: none;
          // }
        }

        .project-subtitle {
          font-size: 14px;
          font-weight: 300;
          letter-spacing: -0.02rem;
          margin: 0;
  
          width: 100%;
          max-width: 600px;
          text-decoration: none;
        }
      }


      .project-tech {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.02rem;
        text-align: right;
        margin: 0;

        width: 100%;
        max-width: 440px;
        text-decoration: none;
      }

      .project-link-icon {
        width: 100%;
        max-width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        // width: 16px;
        // height: 80px;

        @include respond-to(mobile-768) {
          display: none;
        }
      }
    }
  }
}
