@use '../references' as *;

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  width: 100%;
  max-width: 1360px;
  // min-height: 300px;
  padding: 200px 0 0;
  
  @include respond-to(mb) {
    width: calc(100% - 40px);
    padding: 150px 0 0;
  }

  .title {
    @include title-style(245px, 182px, -0.06em);
    margin: 0 0 100px;
    
    @include respond-to(tb) {
      @include title-style(140px, normal, -0.06em);
    }
    @include respond-to(mb) {
      @include title-style(112px, normal, -0.06em);
    }
    
    @include respond-to(xm) {
      @include title-style(72px, 72px, -0.08em);
      margin: 0 0 100px;
    }
    
    
    .project-counter {
      @include title-style(110px, normal, 0em);
      margin-left: -16px;
      padding-bottom: 6px;
      
      @include respond-to(tb) {
        @include title-style(64px, normal, 0em);
        margin-left: 0px;
      }
      
      @include respond-to(xm) {
        @include title-style(32px, normal, 0em);
      }
    }
  }

  .project-list-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    .border {
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      // margin: 16px 0 0;
    }

    .project-item {
      // font-family: $primary-text-font;
      color: #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      text-decoration: none;

      gap: 20px;
      padding: 16px 0;

      .project-index {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: -0.02rem;
        width: 100%;
        max-width: 134px;
        margin: 0;
        text-decoration: none;

        @include respond-to(mb) {
          display: none;
        }
      }

      .project-title {
        font-size: 22px;
        font-family: $secondary-text-font;
        font-weight: bold;
        line-height: normal;
        letter-spacing: -0.02rem;

        width: 100%;
        margin: 0;
        text-decoration: none;

        // @include ref.respond-to(mb) {
        //   display: none;
        // }
      }

      .project-tech {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.02rem;
        text-align: right;
        margin: 0;

        width: 100%;
        max-width: 440px;
        text-decoration: none;
      }

      .project-link-icon {
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        // width: 16px;
        // height: 80px;

        @include respond-to(mb) {
          display: none;
        }
      }
    }
  }
}