@import "../../styles/scss/variables";

.container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 210px;
  padding-bottom: 200px;
  background-color: $full-black;
  color: $primary-color;

  @media (max-width: 768px) {
    padding: 20px 30px 120px;
  }

  .works {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1360px) {
      max-width: 1360px;
      padding: 0 30px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }

    .title-container {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 12px;
      margin-bottom: 100px;
      width: 100%;

      @media screen and (max-width: 768px) {
        margin-top: 100px;
        margin-bottom: 90px;
      }

      .section-title {
        transform: translateY(-10px);
        opacity: 0;
        font-weight: 400;
        font-size: 72px;
        font-family: $primary-font;
  
        @media (max-width: 768px) {
          font-size: 48px;
        }
      }

      .project-counter {
        font-size: 40px;
        font-weight: 400;
        opacity: 0;
        transform: translateY(-10px);

        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }

    .border-top {
      width: 0%;
      height: 1px;
      background-color: $primary-color;
      opacity: 1;
    }

    .project-grid {
      display: flex;
      flex-direction: column;
      width: 100%;
      transform: translateY(500px);
      opacity: 0;
    }
  }
}