@import "../../styles/variables";

.container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding-top: 10vh;
  padding-bottom: 200px;
  background-color: $full-black;
  color: $primary-color;

  @media (max-width: 768px) {
    padding: 20px 20px 120px;
  }

  .works {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1340px) {
      max-width: 1340px;
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }

    :global(.react-tabs__tab) {
      cursor: none;
    }

    :global(.react-tabs__tab-panel) {
      margin-top: 0px;
    }

    :global(.react-tabs__tab-list) {
      margin-bottom: 40px;
    }

    .section-title {
      font-weight: 400;
      font-size: 4rem;
      margin-bottom: 40px;
      font-family: $primary-font;

      @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 56px;
      }
    }

    .project-grid {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
