@import "../../styles/variables";

.container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: $full-black;
  color: $primary-color;
  padding-top: 10vh;
  padding-bottom: 150px;

  @media (max-width: 768px) {
    padding: 20px 20px 120px;
  }

  .works {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    //   justify-content: center;
    margin: 0 auto;
    padding: 0 80px;
    margin-bottom: -20px;

    @media (max-width: 768px) {
      padding: 0;
    }

    .section-title {
      font-weight: 400;
      font-size: 4rem;
      margin-bottom: 100px;
      font-family: $primary-font;

      @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 40px;
      }
    }

    .project-grid {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
