@import "../../src/styles/scss/variables";

.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $full-black;

  contain: paint;

  @media (max-width: 768px) {
    padding: 0 40px 100px;
    align-items: end;
  }

  .content-container {
    width: 100%;
    z-index: 3;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 990px;

    @media (max-width: 768px) {
      text-align: left;
      padding-left: 0;
      gap: 22px;
    }

    .local-time-location-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: start;
      }
    }

    .location-container {
      .location {
        font-size: 16px;
        font-weight: 300;
        color: $primary-color;
        line-height: 1rem;
        transform: translateY(10px);
        opacity: 0;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .title-jobs-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 12px;
      }
    }

    .welcome-message-container {
      position: relative;
      left: 0;
      width: 100%;

      .welcome-message {
        font-size: 32px;
        font-weight: 300;
        color: $primary-color;
        line-height: 1rem;
        transform: translateY(10px);
        opacity: 0;

        @media screen and (max-width: 768px) {
          font-size: 24px;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .jobs-container {
      width: 100%;
      gap: 8px;
      display: flex;
      align-items: end;
      justify-content: end;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: start;
        justify-content: start;
      }

      .job-title {
        font-size: 20px;
        font-weight: 500;
        color: $primary-color;
        line-height: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: 8px;
        transform: translateY(10px);
        opacity: 0;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .title-container {
      height: 83px;
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 82px;
      overflow: hidden;
      transform: translateY(10px);
      opacity: 0;

      @media screen and (max-width: 768px) {
        height: fit-content;
        align-items: center;
      }

      .title-text {
        font-size: 32px;
        font-weight: 300;
        color: $primary-color;
        line-height: 82px;
        text-align: center;
        position: absolute;

        @media screen and (max-width: 768px) {
          line-height: 42px;
          position: relative;
          text-align: start;
        }

        span {
          width: 100%;
          font-size: 96px;
          font-weight: 600;

          @media screen and (max-width: 768px) {
            font-size: 52px;
          }
        }
      }
    }

    .current-position-container {
      // margin-top: 8px;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }

      .current-position-text {
        font-size: 16px;
        font-weight: 300;
        color: $primary-color;
        line-height: 1rem;
        transform: translateY(10px);
        opacity: 0;
        display: flex;
        flex-direction: row;
        gap: 4px;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }

        span {
          font-weight: 600;
        }

        .company-name-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 2px;

          &:hover {
            .border-bottom {
              width: 110%;
              transition: width 0.3s cubic-bezier(0, .37, .4, 1.01)
            }
          }

          .border-bottom {
            width: 0%;
            height: 1px;
            background: white;
            transition: width 0.3s cubic-bezier(.36, -0.01, .46, .99)
          }
        }
      }
    }
  }

  .footer-row-container {
    position: absolute;
    bottom: 70px;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .footer-content {
      width: 100%;
      max-width: 1300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 1340px) {
        max-width: 1340px;
        padding: 0 20px;
      }

      .social-media-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        opacity: 0;
        transform: translateY(10px);

        a {
          color: $primary-color;
          font-size: 30px;
          transition: 0.2s all cubic-bezier(.79, .01, .69, 1);

          &:hover {
            opacity: 0.8;
            transform: scale(1.2);
            transition: 0.2s all cubic-bezier(0, .72, .82, .99);
          }
        }
      }

      .language-selector-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        opacity: 0;
        transform: translateY(10px);

        .language-selector {
          color: $primary-color;
          font-size: 24px;
          font-weight: 600;
          opacity: 0.2;
          transition: 0.2s all cubic-bezier(.79, .01, .69, 1);

          &.selected {
            opacity: 1;
            transition: 0.1s all cubic-bezier(0, .72, .82, .99);
          }
        }
      }
    }
  }
}
