@import "../../../../styles/scss/variables";

.project-item-container {
  width: 100%;
  display: flex;
  padding: 120px 0;
  transform: translateY(20px);
  color: $primary-color;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid white;
  gap: 200px;

  @media (max-width: 768px) {
    padding: 0 10px !important;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 120px;
  }

  .project-index {
    font-size: 36px;
    font-weight: 400;
    font-family: $primary-font;
  }

  .project-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .project-title {
      font-size: 36px;
      font-weight: 400;
      font-family: $primary-font;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    .project-description {
      font-size: 24px;
      font-weight: 300;
      font-family: $primary-font;

      @media (max-width: 768px) {
        font-size: 18px;
        text-align: end;
      }
    }
  }
}
