@import "../../../../styles/scss/variables";

.project-item-container {
  width: 100%;
  height: 110px;
  padding: 0 40px;
  display: flex;
  color: $primary-color;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid white;
  transition: 0.2s all cubic-bezier(0, 0, 0, 1);

  @media (max-width: 768px) {
    padding: 0 10px !important;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 120px;
  }

  &:hover {
    color: #ffffffb0;
    padding: 0 0px;
  }

  .project-title {
    font-size: 42px;
    font-weight: 400;
    font-family: $primary-font;

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  .project-description {
    font-size: 24px;
    font-weight: 300;
    font-family: $primary-font;

    @media (max-width: 768px) {
      font-size: 18px;
      text-align: end;
    }
  }
}
