.inner {
  background-color: black;

  .page {
    background-color: #000;
  }

  .slide {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 997;
  }
}
