@import "../../src/styles/scss/variables";

.container {
  width: 100%;
  background-color: $mono-gray;
  color: $primary-color;
  z-index: 3;
  padding-top: 210px;
  padding-bottom: 200px;
  justify-content: center;
  height: fit-content;
  contain: paint;

  @media screen and (max-width: 768px) {
    padding-bottom: 40px;
  }

  .about {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: $full-black;

    @media screen and (max-width: 1360px) {
      max-width: 1360px;
      padding: 0 30px;
    }

    &__left {
      width: 50%;

      @media (max-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
        object-fit: cover;
        filter: grayscale(80%);
        position: sticky;
        top: 250px;
      }
    }

    &__right {
      width: 50%;
      height: 100%;
      color: $primary-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $primary-font;
      margin-top: 16px;

      @media (max-width: 768px) {
        width: 100%;
        align-items: flex-start;
        padding: 30px 0px 60px;
        left: 0;
        margin-top: 0px;
      }

      .title-container {
        width: 100%;
      }

      .about-title {
        font-weight: 400;
        font-size: 64px;
        margin-bottom: 200px;

        div {
          background-clip: text;
          -webkit-background-clip: text;
          font-size: 64px;

          @media screen and (max-width: 768px) {
            font-size: 42px;
          }
        }

        @media (max-width: 768px) {
          font-weight: 400;
          font-size: 42px;
          margin-bottom: 100px;
        }
      }

      &__aboutMe {
        margin-bottom: 200px;
      }

      &__background {
        @media (max-width: 768px) {
          margin-top: 40px;
        }
      }

      &__aboutMe,
      &__background {
        width: 100%;

        @media (max-width: 768px) {
          margin-bottom: 0px;
          width: 100%;
        }

        h2 {
          font-size: 2.5rem;
          margin-bottom: 50px;
          border-bottom: 2px solid $primary-color;

          @media (max-width: 768px) {
            font-size: 32px;
            margin-bottom: 50px;
          }
        }

        h4 {
          font-weight: 300;
          font-size: 1.2rem;

          @media (max-width: 768px) {
            margin-bottom: 10px;
            line-height: 30px;
          }
        }
      }
    }
  }
}

.resume-container {
  width: 100%;
  background-color: $full-black;
  color: $primary-color;
  z-index: 3;
  padding-top: 160px;
  justify-content: center;
  contain: paint;

  @media (max-width: 768px) {
    padding: 30px 30px 60px;
  }

  .resume {
    width: 100%;
    background-color: $full-black;
    color: $primary-color;
    z-index: 3;
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    gap: 40px;

    @media screen and (max-width: 1340px) {
      max-width: 1340px;
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }

    &__left {
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      h2.section-title {
        font-weight: 400;
        font-size: 4rem;

        @media (max-width: 768px) {
          margin-bottom: 40px;
        }
      }

      h4 {
        font-weight: 300;
        font-size: 1.2rem;
      }

      .collections {
        @media screen and (max-width: 768px) {
          gap: 50px;
          display: flex;
          flex-direction: column;
        }
      }
    }

    &__right {
      width: 50%;
      color: $primary-color;
      padding-bottom: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $primary-font;

      @media (max-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(80%);
        max-height: 500px;
        position: sticky;
        top: 250px;
      }
    }
  }
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}

.skills {
  width: 100%;
  max-width: 1300px;
  color: $primary-color;
  z-index: 3;
  justify-content: center;
  height: fit-content;
  padding: 40px 0px 150px;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1340px) {
    max-width: 1340px;
    padding: 40px 20px 150px;
  }

  h2 {
    font-size: 42px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1920px;

    @media screen and (max-width: 1440px) {
      padding: 0;
    }

    @media (max-width: 768px) {
      font-size: 4rem;
      margin-bottom: 40px;
    }
  }

  .skills-sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    height: 100%;

    @media screen and (max-width: 1440px) {
      padding: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    .soft-skills,
    .hard-skills {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
    }

    .group-title {
      font-size: 18px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}