.card {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: fixed;
    z-index: 1;
    -webkit-filter: grayscale(90%) brightness(0.3);
  }

  h2 {
    display: block;
    font-size: 2rem;
  }
  p {
    display: none;
    font-size: 1.7rem;
    width: 100%;
  }

  h2,
  p {
    z-index: 3;
    transition: 0.4s all ease-in-out;
    mix-blend-mode: difference;
    text-align: center;
    word-wrap: break-word;
    hyphens: auto;
    padding: 10px;
  }

  &:hover {
    h2 {
      display: none;
    }
    p {
      display: block;
    }
  }
}

@media (max-width: 426px) {
  .card {
    width: 200px;
    height: 200px;

    img {
      width: 200px;
      height: 200px;
    }

    h2 {
      display: block;
      font-size: 1.4rem;
    }
    p {
      display: none;
      font-size: 1.2rem;
      width: 100%;
    }
  }
}
