@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  scroll-behavior: smooth;
  justify-content: center;
  cursor: default;
  user-select: none;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: $primary-color;
    background: black;
  }
}


.react-tabs {
  width: 100%;
  font-family: $primary-font;

  &__tab-list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
      width: fit-content;
      background: none;
      border-radius: 0;
      color: $primary-color;

      font-size: 1.8rem;
    }

    li+li {
      text-align: end;
    }

    &__tab--selected {
      background: white !important;
      color: $full-black !important;
    }
  }

  &__tab-panel,
  &__tab-panel--selected {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .react-tabs {
    &__tab-list {
      // flex-direction: column;
      // align-items: center;

      li {
        font-size: 16px;
      }
    }
  }

}
