.projectCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .backgroundCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: brightness(0.3) grayscale(80%);
    transition: 0.3s all ease-in-out;
  }

  h2 {
    position: absolute;
  }

  &:hover .backgroundCard {
    -webkit-filter: brightness(0.5) grayscale(80%);
  }
}

.descModalContainer {
  position: absolute;
  visibility: hidden;
  width: 100vw;
  // height: 100vh;
  // backdrop-filter: blur(2px);
  transition: .2s bottom cubic-bezier(0, 0, 0, 1);
  .closeModal {
    display: none;
  }

  .descModalContainerBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 4;
    transition: 0.4s all ease-in-out;
    // background-color: rgba(0, 0, 0, 0.825);
    backdrop-filter: blur(4px);
  }
}

.descModal {
  width: 1000px;
  height: 600px;
  background-color: black;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 0px;
  z-index: 5;
  // backdrop-filter: blur(0px);

  .modalBackground {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
    -webkit-filter: brightness(0.75) grayscale(80%);
  }

  .modalInformation {
    padding: 30px;
    width: 100%;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }

    a {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .descModalContainer {
    .closeModal {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 6;
      background: none;
      border: none;
    }

    .descModal {
      width: 100vw;
      height: 100vh;
      border: none;
    }

    .modalInformation {
      overflow: scroll;
    }
  }
}
