.img-bg-container {
    width: 100vw;
    position: fixed;
    opacity: 0.1;
    top:120px;
}

.single-image {
    width: 400px !important;
    height: auto !important;
    border: 3px solid white;
    position: absolute !important;
    opacity: 0.9;
    transition: 0.2s all cubic-bezier(0, 1.01, 0.39, 0.74);
    animation-name: turnOnOff;
    animation-timing-function: cubic-bezier(0, 1.01, 0.39, 0.74);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.image_1 {
    top: 100px !important;
    left: 300px !important;
    animation-duration: 3s;
}

.image_2 {
    top: 250px !important;
    left: 550px !important;
    animation-duration: 1.68s;
}

.image_3 {
    top: 550px !important;
    left: 580px !important;
    animation-duration: 2.74s;
}

.image_4 {
    top: 300px !important;
    left: 900px !important;
    animation-duration: 1.66s;
}

.image_5 {
    top: 450px !important;
    left: 100px !important;
    animation-duration: 1.08s;
}

.image_6 {
    top: 50px !important;
    left: 1050px !important;
    animation-duration: 1.55s;
}

.image_7 {
    top: 500px !important;
    left: 1000px !important;
    animation-duration: 2.74s;
}


@media screen and (min-width: 2000px) {
    .image_1 {
        top: 200px !important;
        left: 500px !important;
    }

    .image_2 {
        top: 350px !important;
        left: 850px !important;
    }

    .image_3 {
        top: 440px !important;
        left: 1180px !important;
    }

    .image_4 {
        top: 320px !important;
        left: 1400px !important;
    }

    .image_5 {
        top: 650px !important;
        left: 700px !important;
    }

    .image_6 {
        top: 50px !important;
        left: 1650px !important;
    }

    .image_7 {
        top: 500px !important;
        left: 1700px !important;
    }
}

@media screen and (max-width: 768px) {
    .single-image {
        width: 300px !important;
        height: auto !important;
    }

    .image_1 {
        top: 40px !important;
        left: -30px !important;
    }

    .image_2 {
        top: 120px !important;
        left: 120px !important;
    }

    .image_3 {
        top: 600px !important;
        left: 20px !important;
    }

    .image_4 {
        top: 280px !important;
        left: -10px !important;
    }

    .image_5 {
        top: 370px !important;
        left: 220px !important;
    }

    .image_6 {
        top: 470px !important;
        left: -170px !important;
    }

    .image_7 {
        top: 510px !important;
        left: 340px !important;
    }
}

@keyframes turnOnOff {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
