@use "../references" as *;

.animated-svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120%;
  z-index: 9999;
  pointer-events: none;
  will-change: transform;
  transform: translateY(100%);

  path {
    fill: $primary-color;
  }
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-text-container {
  overflow: hidden;
  height: fit-content;
  position: relative;
}

$transition-text-line-height: 1.2;

.transition-text {
  @include subtitle-style(42px, $transition-text-line-height, 0);
  color: $background-color-main !important;
  text-align: center;
  text-transform: uppercase;
  will-change: transform;

  @include respond-to(desktop-1440) {
    @include subtitle-style(42px, $transition-text-line-height, 0);
  }

  @include respond-to(tablet-1024) {
    @include subtitle-style(32px, $transition-text-line-height, 0);
  }

  @include respond-to(mobile-768) {
    @include subtitle-style(28px, $transition-text-line-height, 0);
  }

  @include respond-to(mobile-480) {
    @include subtitle-style(24px, $transition-text-line-height, 0);
  }
}

.show-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
