@use "../references" as *;

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: red;
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  background: $background-color-main;

  .loading-content {

    .loading-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      margin-bottom: 0px;
      overflow: hidden;
      
      &__title {
        display: inline-block;
        transform: translateY(150%);
      }

      &__stats {
        display: inline-block;
        font-family: $title-font;
        font-size: 32px;
        font-weight: bold;
        color: #000;
        transform: translateY(150%);
      }
    }

    .image-container {
      position: relative;
      width: 400px;
      height: 600px;
      overflow: hidden;
      clip-path: inset(100% 0 0 0);
      // animation: revealFromBottom 1.5s ease-out forwards;

      // @keyframes revealFromBottom {
      //   from {
      //     clip-path: inset(100% 0 0 0);
      //   }

      //   to {
      //     clip-path: inset(0 0 0 0);
      //   }
      // }

      &__image-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &__image {
        width: 400px;
        height: 600px;
        object-fit: cover;
      }
    }
  }
}
