@use "../references" as *;

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: red;
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  background: $background-color-main;

  .loading-content {

    .loading-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 400px;
      margin-bottom: 12px;
      overflow: hidden;
      // transform: translateY(100%);

      @include respond-to(mobile-768) {
        width: 300px;
      }
      
      &__title {
        font-family: $title-font;
        font-size: 24px;
        display: inline-block;
      }

      &__stats {
        display: inline-block;
        font-family: $title-font;
        font-size: 32px;
        font-weight: bold;
        color: #000;
        // transform: translateY(100%);
      }
    }

    .image-container {
      position: relative;
      width: 400px;
      height: 600px;
      overflow: hidden;
      clip-path: inset(100% 0 0 0);
      
      @include respond-to(mobile-768) {
        width: 300px;
        height: 450px;
      }

      &__image-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &__image {
        width: 400px;
        height: 600px;
        object-fit: cover;
      }
    }
  }
}
