@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

.service-item {
    width: 300px;
    height: 250px;
    display: grid;
    font-size: 1.1rem;
    text-align: center; 
    font-size: 1.3rem;
    transition: all 0.3s ease-out
}

.service-item > h2{
    font-size: 1.3rem;
    margin: 5px;
}

.service-item > h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin: 5px;
}
.service-item:hover{
    font-size: 1.55rem;
}


