@use "../references" as *;

.menu-item {
  &.contact-me-button {
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-tightest;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-2;
    @include transition(gap);

    &:hover {
      gap: $spacing-4;

      .button-arrow {
        transform: rotate(45deg);
      }
    }

    .button-arrow {
      @include transition(transform);
    }
  }
}
