@use "../references" as *;

.menu-item {
  &.contact-me-button {
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-tightest;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-2;
    transition: .2s all ease;

    &:hover {
      .button-arrow {
        transform: rotate(45deg);
      }
    }

    .button-arrow {
      transition: .4s transform ease;
    }
  }
}
