.menu-item {
  &.contact-me-button {
    font-weight: bold;
    letter-spacing: -0.08rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: gap 0.2s ease-in-out;
    
    &:hover {
      gap: 8px;
      
      .button-arrow {
        transform: rotate(45deg);
      }
    }
    
    .button-arrow {
      transition: transform 0.2s ease-in-out;
    }
  }
}
  