@use "../references" as ref;

.menu-item {
  @include ref.menu-item;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: none;

  mix-blend-mode: difference;

  &:hover {
    color: ref.$secondary-color;
    // cursor: pointer;
  }

  &:hover {
    .text {
      @include ref.smooth-transition(gap);
      gap: ref.$spacing-4;
    }
  }

  .text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include ref.smooth-transition(gap);
    gap: ref.$spacing-2;
  }

}
