@use "../references" as ref;

.header-desktop {
  display: flex;
  width: 100%;
  max-width: 1360px;

  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 769px) {
    display: none;
  }

  .name-logo {
    font-family: ref.$title-font;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: ref.$primary-color;
    letter-spacing: -0.07rem;

    text-decoration: none;
  }

  &__header-menu {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }
}
