@use "../references" as *;

.header-mobile {
  display: none;
  width: calc(100%);

  background: #e5e5dd00;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 16px 20px;

  @include respond-to(mb) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .open-menu-button {
    @include menu-item;
    padding: 0;
    background: none;
    border: none;
  }

  .name-logo {
    font-family: $title-font;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.mobile-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 102vw;
  height: 100vh;
  background-color: #0E0C03;
  color: #E5E5DD;
  z-index: 999;

  flex-direction: column;
  align-items: center;

  padding: 20px 0px;

  @include respond-to(mb) {
    display: flex;
  }

  @include respond-to(mb) {
    display: flex;
  }

  &.open {
    left: 0;
  }

  &.closed {
    left: -104%;
  }

  &__top-items {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name-logo {
      font-family: $title-font;
      font-size: 18px;
      font-weight: bold;
      color: #E5E5DD;
      text-decoration: none;
      text-transform: uppercase;
    }

    .open-menu-button {
      @include menu-item;
      color: #E5E5DD;
      padding: 0;

      background: none;
      border: none;
    }
  }

  &__navigation-items {
    margin-top: 84px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);

    .navigation-item {
      @include menu-item;
      font-size: 64px;
      font-weight: bold;
      font-family: $title-font;
      text-decoration: none;
      background: unset;

      color: #E5E5DD;

      @include respond-to(xs) {
        font-size: 48px;
      }
    }
  }

  &__menu-footer {
    position: absolute;
    bottom: 60px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 78px;

    @include respond-to(xs) {
      gap: 32px
    }

    &__social-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 12px;

      .social-link {
        font-size: 14px;
        color: #E5E5DD;
        font-weight: normal;
        letter-spacing: -0.02rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        min-height: 47px;

        &:nth-child(odd) {
          justify-content: start;
        }

        &:nth-child(even) {
          justify-content: end;
        }
      }
    }

    &__quickly-message {
      display: flex;
      justify-content: center;
      max-width: 282px;

      .message {
        font-size: 14px;
        color: #E5E5DD;
        font-weight: normal;
        letter-spacing: -0.02rem;
      }
    }
  }
}
