@import "../references";

.header-desktop {
  display: flex;
  width: 100%;
  max-width: 1360px;

  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 769px) {
    display: none;
  }

  .name-logo {
    font-family: $title-font;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: $primary-color;
    letter-spacing: -0.07rem;
  }

  &__header-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .menu-item {
      font-family: $primary-text-font;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      color: $primary-color;
      letter-spacing: -0.02rem;

      display: flex;
      align-items: center;
      justify-content: center;

      &.contact-me-button {
        font-weight: bold;
        letter-spacing: -0.08rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: gap 0.2s ease-in-out;

        &:hover {      
          gap: 8px;     
          .button-arrow {
            transform: rotate(45deg);
          }
        }
        
        .button-arrow {
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}
