@use '../references' as *;
$border-color: rgba(43, 43, 43, 0.05);

.gallery-section {
  width: 100%;
  margin-bottom: 64px;

  @include respond-to(mobile-768) {
    margin-bottom: 32px;
  }

  .mansory-container {
    margin: 0 -8px;
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    
    img {
      padding: 8px;
      // border-right: 1px solid $border-color;
      // border-bottom: 1px solid $border-color;

      // &:first-child {
      //   border-top: 1px solid $border-color;
      //   border-left: 1px solid $border-color;
      // }
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.gallery-title {
  @include title-style(36px, 1, 0em);
  padding: 16px 0 6px;
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-family: $gloock-font;
  // border: 1px solid $border-color;

  @include respond-to(mobile-768) {
    font-size: 24px;
    margin: 0 0 10px;
  }
}
