@use '../references' as *;
$border-color: rgba(43, 43, 43, 0.05);

.overview-section {
  width: 100%;

  @include respond-to(mobile-768) {
    margin-bottom: 80px;
  }
}

.overview-header {
  margin-bottom: 24px;
  padding-bottom: 24px;
  // border: 1px solid $border-color;
  // border-left: 1px solid $border-color;
  // border-right: 1px solid $border-color;

  @include respond-to(mobile-768) {
    margin-bottom: 20px;
    margin-top: 24px
  }
}

.project-title {
  @include title-style(150px, 1, 0em);
  margin: 0 0 0px;

  @include respond-to(mobile-768) {
    font-size: 64px;
    margin: 0 0 32px;
  }

  @include respond-to(mobile-480) {
    font-size: 48px;
  }
}

.project-subtitle {
  @include subtitle-style(22px, 1, 0.0em);
  font-family: $primary-text-font;
  font-weight: 300;
  margin: -4px 0 24px;

  @include respond-to(mobile-768) {
    font-size: 20px;
    margin: 0 0 12px;
  }

  @include respond-to(mobile-480) {
    font-size: 18px;
  }
}

.project-meta {
  display: flex;
  flex-direction: row;
  gap: 80px;

  @include respond-to(tablet-1024) {
    gap: 42px;
  }

  @include respond-to(mobile-768) {
    flex-direction: column;
  }

  @include respond-to(mobile-480) {
    gap: 24px;
  }
}

.meta-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  // gap: 8px;
}

.meta-label {
  @include text-box-text;
  font-size: 14px;
  text-transform: lowercase;
}

.meta-value {
  @include subtitle-style(16px, 1.4, -0.01em);
  font-weight: 600;
  text-transform: uppercase;

  @include respond-to(mobile-768) {
    font-size: 14px;
  }
}

.overview-content {
  margin-bottom: 60px;

  @include respond-to(mobile-768) {
    margin-bottom: 40px;
  }
}

.description-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;

  @include respond-to(tablet-1024) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.description-text {
  @include text-box-text;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;

  @include respond-to(mobile-768) {
    font-size: 15px;
  }

  h3 {
    font-family: $gloock-font;
    letter-spacing: 0.08rem;
    font-size: 24px;
    margin: 32px 0 16px;
    border-bottom: 1px solid black;

    @include respond-to(mobile-768) {
      font-size: 20px;
      margin: 24px 0 12px;
    }
  }

  h4 {
    font-family: $gloock-font;
    letter-spacing: 0.06rem;
    font-size: 18px;
    margin: 12px 0 0;

    @include respond-to(mobile-768) {
      font-size: 18px;
      margin: 20px 0 8px;
    }

    & + p {
      margin-top: 0px;
    }
  }

  p {
    font-family: $secondary-text-font;
    font-size: 16px;
    // line-height: 1;
    letter-spacing: 0em;
    margin: 4px 0 0;
  }
  li {
    margin: 4px 0 12px;

    h4 {
      margin: 0;
    }
  }
}

.main-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
