@import "../styles/variables";

.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  background-color: $full-black;

  @media (max-width: 768px) {
    padding: 0 40px;
  }

  .content-container {
    position: absolute;
    z-index: 3;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    padding-left: 149px;

    @media (max-width: 768px) {
      text-align: left;
      padding-left: 0;
    }

    .title {
      letter-spacing: 15px;
      font-size: 65px;
      padding-top: 20px;
      animation: showText 0.8s normal;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
      opacity: 0;
      font-family: $primary-font;
      font-weight: 800;
      color: $primary-color;
      transition: 0.5s all ease-out;
      margin: 0;
    }

    &:hover {
      color: $primary-color;
      background: none;
    }

    @media (max-width: 768px) {
      line-height: 50px;
      letter-spacing: 10px;
      font-size: 50px;
      margin-bottom: 20px;

    }
  }


  .menu-container {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    flex-direction: column;

    &__item {
      transition: .2s all cubic-bezier(0, 0, 0, 1);
      opacity: 0;
      animation: showTextMenuItem 0.8s normal;
      animation-fill-mode: forwards;
      animation-delay: 1.4s;
      margin: 10px 0;
      width: fit-content;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        color: #747474;
      }
    }
  }
}



@keyframes showText {
  from {
    padding-top: 20px;
    opacity: 0;
  }

  to {
    padding-top: 0px;
    opacity: 1;
  }
}

@keyframes showTextMenuItem {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
