@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,400&display=swap");

.exit-background {
  width: 100vw;
  height: 100vh;
  background: red;
  position: fixed;
}
.home {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  display: flex;
  // justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);

  .noise-filter {
    position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 100vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
    overflow: hidden;
  }

  .white-border {
    width: 100vw;
    height: 100vh;
    padding: 80px 50px 50px 50px;

    .internal-white-border1 {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.87);
      padding: 10px;
    }

    .internal-white-border2 {
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    z-index: 0;
    margin-top: -20px;

    max-width: 1920px;
  }

  .home__title {
    position: absolute;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    padding-left: 149px;

    .title {
    letter-spacing: 15px;
    font-size: 65px;
    padding-top: 20px;
    animation: showText 0.8s normal;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    opacity: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
    color: #fff;
    /* padding: 0 40px; */
    transition: 0.5s all ease-out;
    margin: 0;
    }

    .title:hover {
      color: white;
      background: none;
    }

    .initialMenu {
      font-family: "Roboto Mono", monospace;
      font-weight: 400; 
      font-size: 25px;
      display: flex;
      flex-direction: column;

      &__item {
        transition: .2s all cubic-bezier(0, 0, 0, 1);
        opacity: 0;
        animation: showTextMenuItem 0.8s normal;
        animation-fill-mode: forwards;
        animation-delay: 1.4s;
        margin: 10px 0;
        width: fit-content;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
          color: #747474;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    padding: 0 40px;

    .home__title {
      text-align: left;
      // width: 100%;
      padding-left: 0;

      .title {
        line-height: 50px;
        letter-spacing: 10px;
        font-size: 50px;
        margin-bottom: 20px;
        // padding: 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .white-border {
    display: none;
  }
}
@keyframes showText {
  from {
    padding-top: 20px;
    opacity: 0;
  }
  to {
    padding-top: 0px;
    opacity: 1;
  }
}
@keyframes showTextMenuItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}