.resumeCard {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto Mono", monospace;
  margin: 200px 0;

  &__title {
    height: fit-content;
    margin-bottom: 0px !important;
    font-size: 3.3rem;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
  }

  &__mainInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px;

    h3,
    p {
      font-size: 1.5rem;
      font-weight: 300;
      min-width: 280px;
    }

    h3 {
      text-align: left;
      padding-right: 20px;
    }
    p {
      text-align: right;
    }
  }

  &__description {
    line-height: 25px;
    font-weight: 300;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .resumeCard {
    margin: 0 0 60px;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 42px;
    }

    &__mainInformation {
      flex-direction: column;
      // gap: 5px;
      margin: 10px 0 20px;
      h3 {
        min-width: 0 !important;
        font-size: 32px;
        width: 300px;
      }
      p {
        text-align: left;
        font-size: 24px;
      }

      h3,
      p {
        height: fit-content;
        min-height: 10px;
      }
    }
  }
}
