@import "../../styles/scss/variables";

.header {
  color: $primary-color;
  width: 100%;
  background: transparent;

  position: fixed;
  top: 50px;
  z-index: 996;

  display: flex;
  justify-content: center;

  // transition: 0.2s all cubic-bezier(0, 0, 0, 1);
  opacity: 0;

  .header-container {
    width: 100%;
    max-width: 1310px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background: $mono-gray;
    border-radius: 8px;
    overflow: hidden;
    transition: .2s all cubic-bezier(0, 0, 0, 1);

    @media screen and (max-width: 1340px) {
      max-width: 1340px;
      padding: 0 20px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    .navigation-container {
      gap: 50px;
      display: flex;
    }

    .buttons-container {
      gap: 38px;
      display: flex;
      align-items: center;

      .header-button {
        width: 180px;
        height: 40px;
        border-radius: 4px;
        background: #fff;
        color: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        transition: 0.2s background cubic-bezier(0, 0, 0, 1);

        &:hover {
          background: #dbdbdb;
        }
      }

      .language-selector-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        // opacity: 0;
        // transform: translateY(10px);
        width: calc(30px + 30px + 10px + 7px);
        margin-right: -110px;

        .language-selector {
          color: $primary-color;
          font-size: 24px;
          font-weight: 600;
          opacity: 0.2;
          transition: 0.2s all cubic-bezier(.79, .01, .69, 1);

          &.selected {
            opacity: 1;
            transition: 0.1s all cubic-bezier(0, .72, .82, .99);
          }
        }
      }
    }

    .menu-item-container {
      overflow: hidden;
      height: 27px;

      .menu-item {
        font-weight: 300;
        font-size: 18px;
        height: 27px;
        display: block;
        overflow: hidden;

        &__bold {
          font-weight: 500;
        }
      }
    }
  }

  .open-close-menu {
    position: absolute;
    left: 18px;
    top: -10px;
    background: $mono-gray;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .header-mobile-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;

    @media screen and (min-width: 769px) {
      display: none;
    }

    .header-mobile-background {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: $mono-gray;
      background: opacity(0.9);
    }

    .header-mobile {
      width: 80%;
      height: 100%;
      background: #d9d9d9;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px;

      .switch-language-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .switch-language-text {
          font-size: 14px;
          font-weight: 300;
          color: $full-black;
        }

        .language-selector-container {
          font-size: 24px;
          font-weight: 600;
          color: $full-black;
          gap: 4px;
          display: flex;
          align-items: center;
          justify-content: center;

          .language-selector {
            font-size: 24px;
            font-weight: 600;
            color: $full-black;
            opacity: 0.2;
            transition: 0.2s all cubic-bezier(.79, .01, .69, 1);
            &.selected {
              opacity: 1;
              transition: 0.1s all cubic-bezier(0, .72, .82, .99);
            }
          }
        }
      }

      .navigation-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .menu-item {
          font-weight: 300;
          font-size: 32px;
          display: block;
          color: $full-black;
          font-weight: 600;

          &__bold {
            font-weight: 500;
          }
        }
      }

      .menu-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;

        .menu-item__bold {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $mono-black;
          border: $mono-black 2px solid;
          border-radius: 4px;
          font-weight: 500;
        }

        .header-button {
          width: 100%;
          height: 50px;
          border-radius: 4px;
          background: $mono-black;
          color: $mono-white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: 500;
          transition: 0.2s background cubic-bezier(0, 0, 0, 1);

          &:hover {
            background: #202020e1;
          }
        }

        .social-media-icons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;

          a {
            color: $full-black;
            font-size: 32px;
            transition: 0.2s all cubic-bezier(0, 0, 0, 1);
          }
        }
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 100;
    font-size: 14px;
    opacity: 1;
  }

  .menuHamburger {
    display: none;
  }

  .switchLanguageDesktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    // cursor: pointer;
    font-size: 16px;

    // transition: .2s all cubic-bezier(0, 0, 0, 1);

    h3 {
      height: 30px;
      width: 30px;
      text-align: center;
      padding-top: 1px;
      color: rgba(255, 255, 255, 0.39);
      margin: 0;
    }

    h3+h3 {
      margin-left: 10px;
    }

    .switchLanguageSelected {
      color: $primary-color;
      // transition: .2s all cubic-bezier(0, 0, 0, 1);
    }
  }
}

.header-bottom-border {
  display: block;
  width: 100vw;
  background: #dadada;
  position: absolute;
  top: 100%;
  left: 0;
  height: 4px;
}

@media (max-width: 768px) {
  .header-bottom-border {
    display: none;
  }

  .header {
    padding: 0 30px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(20%, 1fr));

    .title {
      width: 100%;
      font-size: 1rem;
    }

    .spacing {
      display: block;
    }

    .title-desktop {
      display: none;
    }

    .title-mobile {
      display: block;
    }

    .menu {
      display: none;
    }

    .menuHamburger {
      display: flex;
      flex-direction: row-reverse;

      button {
        background: #fff;
        position: relative;
        top: 16px;
        background: #fff;
        border-radius: 50%;
        padding: 5px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s all cubic-bezier(0, 0, 0, 1);
      }

      .handleMenuHamburger {
        z-index: 6 !important;
      }

      .menuHamburgerBackground {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(2px);
        z-index: 4 !important;
        transition: 0.2s all cubic-bezier(0, 0, 0, 1);
      }

      .menuHamburgerMenu {
        transition: 0.2s all cubic-bezier(0, 0, 0, 1);
        transition-delay: 0.1s;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40% 0;

        a.menuItem {
          font-size: 18px;
          margin-bottom: 20px;
        }

        a.title {
          font-size: 20px;
          margin-bottom: 100px;
        }
      }
    }

    .switchLanguageDesktop {
      display: none !important;
    }

    .switchLanguageMobile {
      display: flex;
      flex-direction: row;
      margin-top: 100px;
      align-items: center;
      // cursor: pointer;

      h3 {
        height: 30px;
        width: 30px;
        text-align: center;
        padding-top: 1px;
        color: rgba(255, 255, 255, 0.39);
      }

      h3+h3 {
        margin-left: 10px;
      }

      .switchLanguageSelected {
        color: $primary-color;
      }
    }
  }
}
