@import "../../../src/styles/scss/variables";

.project-page {
  display: flex;
  justify-content: center;
  width: 100%;

  .project-page-container {
    width: 100%;
    min-height: 100vh;
    color: $primary-color;
    padding: 210px 0 100px;
    max-width: 1300px;

    @media screen and (max-width: 1340px) {
      max-width: 1340px;
      padding: 210px 20px 100px;
    }

    @media (max-width: 768px) {
      padding: 40px;
    }

    .project-title {
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 5px;
      width: fit-content;
      font-family: $primary-font;
    }

    .project-description {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 50px;
      width: fit-content;
    }

    .project-brief-description {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 50px;
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .technologies-title {
      font-size: 22px;
      font-weight: 400;
      margin-right: 20px;
      font-family: $primary-font;
    }

    .project-technologies {
      display: flex;
      flex-direction: row;
      white-space: nowrap;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .technology {
        font-size: 18px;
        font-weight: 300;
        margin-right: 20px;
      }
    }

    .project-page-gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;

      .gallery-title {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 20px;
        font-family: $primary-font;
      }

      .project-gallery {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .gallery-row {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }

          .gallery-image {
            width: 100%;
            height: 100%;
            min-width: 300px;
            min-height: 300px;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            opacity: 0;
            scale: 0.8;

            @media (max-width: 768px) {
              width: 100% !important;
              max-height: 300px;
              margin-bottom: 10px;
            }

            .photo-text {
              z-index: 3;
              text-align: center;
            }

            .front-image {
              filter: brightness(0.5) grayscale(0.9);
            }

            .front-image,
            .back-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
            }

            .front-image,
            .back-image,
            .photo-text {
              transition: 0.6s all cubic-bezier(.64, .23, .17, .99);
            }

            &:hover {
              .front-image,
              .back-image,
              .photo-text {
                transition: 0.4s all cubic-bezier(.64, .23, .17, .99);
              }
            }
          }
        }
      }
    }
  }
}
