@import "../../styles/variables";

.white-circle {
    width: 20px;
    height: 20px;
    background-color: $primary-color;
    position: fixed;
    z-index: 998;
    transform: translateX(-50%) translateY(-50%);
    // transition: .15s all ease-out;
    mix-blend-mode: difference;
    opacity: 5;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeInCursor 0.5s normal;
    transition: .2s all cubic-bezier(0, 0, 0, 1);
}

@media only screen and (max-width: 768px) {
    .white-circle {
        display: none;
    }
}
@keyframes fadeInCursor {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}