@import "../../styles/scss/variables";

.loadingContainer {
  width: 100vw;
  height: 100vh;
  background-color: $full-black;
  color: $primary-color;
  font-family: $primary-font;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s all cubic-bezier(0, 0, 0, 1);
  transition-delay: 0.1s;
  z-index: 999;
  position: fixed;
  pointer-events: none;

  .loadingTextContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s all cubic-bezier(0, 0, 0, 1);
    position: fixed;
    gap: 20px;

    .loading-text {
      font-weight: 600;
      font-size: 22px;
      transform: rotateX(90deg) translateY(-20px); /* Fixed: removed quotes around '90deg' */
      opacity: 0;
    }

    .progressBar {
      height: 2px;
      width: 0px;
      background-color: $primary-color;
      animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }
  }
}