@import "../../styles/variables";

.loadingContainer {
  width: 100vw;
  height: 100vh;
  background-color: $full-black;
  color: $primary-color;
  font-family: $primary-font;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s all cubic-bezier(0, 0, 0, 1);
  transition-delay: .1s;
  z-index: 999;
  position: fixed;

  .loadingTextContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s all cubic-bezier(0, 0, 0, 1);
    // transition-delay: .2s;
    position: fixed;

    .progressBar {
      height: 2px;
      background-color: $primary-color;
      animation: progressBartime 6s;
      animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }
  }


}

@keyframes progressBartime {
  from {
    width: 0px;
  }

  to {
    width: 200px;
  }
}