.curve {
    .curve-background {
        background: #0c0c0c;
    }
    .route-name {
        pointer-events: none;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        color: #0c0c0c;
        font-size: 46px;
        z-index: 999;
        text-align: center;
    }
    .transition-svg, .transition-svg2 {
        width: 100vw;
        height: calc(100vh + 600px);
        top: -300px;
        left: 0;
        position: fixed;
        pointer-events: none;
        z-index: 998;
        // transform: scale(0.5);
    }

    .transition-svg {
        fill: rgb(212 212 216);
    }
}