@import "../../styles/scss/variables";

.next-page-button {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  z-index: 995;
  pointer-events: none;

  @media (max-width: 768px) {
    bottom: 20px;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .button-container {
    background: #ffffff99;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    color: $secondary-color;
    padding: 10px 20px;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transition: 0.2s all cubic-bezier(0, 0, 0, 1);
    pointer-events: all;

    .right-arrow,
    .left-arrow {
      transition: 0.2s all cubic-bezier(0, 0, 0, 1);
    }
  }
}
