@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,400&display=swap");

.container {
  width: 100vw;
  background-color: rgb(10, 10, 10);
  color: white;
  min-height: 100vh;
  padding: 10vh 0;
  font-family: "Roboto Mono", monospace;
}

.services {
  width: 100vw;
  //   max-width: 1920px;
  margin: 0 auto;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 100px;
    margin-left: 12.5vw;
  }
}

.card {
  width: 350px;
  height: 350px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  //   margin-left: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
}

.cardScroll {
  position: relative;
  //   left: -400px;
  display: flex;
  flex-direction: row;
  //   animation-name: cardScroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;

  &:hover {
    animation-play-state: paused;
  }
}

// @keyframes cardScroll {
//   from {
//     left: -1050px;
//   }
//   to {
//     left: 100vw;
//   }
// }
