@use "../references" as *;

$box-left: 80px;
$box-bottom: 24px;
$box-text-left: 100px;
$box-text-bottom: 56px;

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1360px;

  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;

  @include respond-to(dt) {
    top: 540px;
    left: 52%;
  }

  @include respond-to(mb) {
    position: absolute;
    bottom: 30px;
    top: auto;
    left: 14px;
    transform: none;
    // display: none;
  }

  .home-image {
    max-width: 100%;
    width: 450px;
    border-radius: 50%;
    height: auto;
    z-index: 2;
    
    @include respond-to(dt) {
      width: 380px;
    }
    
    @include respond-to(mb) {
      width: 100%;
      max-width: 297px;
      height: 305px;
      object-fit: cover;
      border-radius: 0%;
    }

  }

  .block-box {
    position: absolute;
    left: $box-left;
    bottom: $box-bottom;
    width: 635px;
    height: 345px;
    background: #D0D0D0;
    z-index: 1;

    @include respond-to(mb) {
      left: 0px;
      bottom: $box-bottom;
      width: 384px;
      height: 239px;
    }
  }

  .text-block {
    position: absolute;
    bottom: calc($box-bottom + $box-text-bottom);
    left: calc($box-left + $box-text-left);
    z-index: 2;

    display: flex;
    flex-direction: column;

    @include respond-to(mb) {
      display: none
    }

    .text {
      @include text-box-text;
    }
  }
}
