@use "../references" as *;

$box-left: 80px;
$box-bottom: 24px;
$box-text-left: 100px;
$box-text-bottom: 56px;

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 1440px;

  position: absolute;
  top: 600px;
  left: 51.5%;
  transform: translate(-50%, -50%);

  z-index: 1;

  @include respond-to(desktop-1440) {
    top: 540px;
    left: 52%;
  }

  @include respond-to(desktop-1366) {
    top: 470px;
  }

 @include respond-to(mobile-768) {
    position: absolute;
    bottom: 30px;
    top: auto;
    left: auto;
    right: 24px;
    transform: none;
    // display: none;
  }

  &.desktop-image-container {
    @include respond-to(mobile-768) {
      display: none;
    }
  }

  &.mobile-image-container {
    display: none;

    @include respond-to(mobile-768) {
      display: flex;
    }
  }

  .home-image {
    max-width: 100%;
    width: 450px;
    border-radius: 50%;
    height: auto;
    z-index: 2;

    @include respond-to(desktop-1440) {
      width: 380px;
    }

    @include respond-to(desktop-1366) {
      width: 320px;
    }

    @include respond-to(mobile-768) {
      width: 100%;
      max-width: 297px;
      height: 305px;
      object-fit: cover;
      border-radius: 0%;
    }

  }

  .block-box {
    display: none;
    position: absolute;
    left: $box-left;
    bottom: $box-bottom;
    width: 635px;
    height: 345px;
    background: #D0D0D0;
    z-index: 1;

    @include respond-to(mobile-768) {
      display: flex;
      left: auto;
      right: -14px;
      bottom: $box-bottom;
      width: calc(100vw - 20px);
      height: 239px;
    }
  }

  .text-block {
    position: absolute;
    bottom: calc($box-bottom + $box-text-bottom);
    left: calc($box-left + $box-text-left);
    z-index: 2;

    display: flex;
    flex-direction: column;

    @include respond-to(mobile-768) {
      display: none
    }

    .text {
      @include text-box-text;
    }
  }
}
