@use "../references" as ref;

$box-left: 80px;
$box-bottom: 24px;
$box-text-left: 100px;
$box-text-bottom: 56px;

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1360px;

  position: relative;
  top: 80px;
  left: 80px;

  z-index: 0;

  .home-image {
    max-width: 100%;
    height: auto;
    z-index: 2;
  }

  .block-box {
    position: absolute;
    left: $box-left;
    bottom: $box-bottom;
    width: 635px;
    height: 345px;
    background: #D0D0D0;
    z-index: 1;
  }
  
  .text-block {
    position: absolute;
    bottom: calc($box-bottom + $box-text-bottom);
    left: calc($box-left + $box-text-left);
    z-index: 2;

    display: flex;
    flex-direction: column;

    .text {
      @include ref.text-box-text;
    }
  }
}