@use "../references" as *;

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // gap: 16px;
  max-width: 1360px;
  width: 100%;

  position: relative;
  top: 120px;

  @include respond-to(dt) {
    max-width: 1200px;
    top: 120px;
  }


  .title-text {
    @include title-style(226px, 0.95, 0);
    text-align: center;
    margin: 0;

    position: relative;
    z-index: 1;

    pointer-events: none;
    user-select: none;
    cursor: default;

    @include respond-to(dt) {
      @include title-style(200px, 0.95, 0);
    }

    @include respond-to(mb) {
      @include title-style(58px, 1, 0);
      text-align: left;
    }

  }

  .subtitle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    margin-top: -10px;

    @include respond-to(mb) {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px
    }

    .subtitle-text {
      @include subtitle-style(18px, 1, -0.02rem);
      margin: 0;

      @include respond-to(mb) {
        @include subtitle-style(16px, 1, -0.02rem);
        font-weight: 300;
      }

      a {
        text-decoration: none;
        color: $primary-color;
      }

      strong {
        font-weight: bold;
      }
    }
  }

  .subtitle-container-mobile {
    display: none;

    @include respond-to(mb) {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
    }

    .subtitle-text {
      @include subtitle-style(18px, 1.2, -0.02rem);
      margin: 0 0 4px 0;
      font-weight: normal;
    }
  }
}
