.project-page-container {
    width: 100%;
    min-height: 100vh;
    background-color: #0c0c0c;
    color: white;
    padding: 150px 80px;

    .project-title {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 5px;
        width: fit-content;
        font-family: "Roboto Mono", monospace;
    }

    .project-description {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 50px;
        width: fit-content;
    }

    .project-brief-description {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 50px;
        width: 50%;
    }

    .technologies-title {
        font-size: 22px;
        font-weight: 400;
        margin-right: 20px;
        font-family: "Roboto Mono", monospace;
    }

    .project-technologies {
        display: flex;
        flex-direction: row;



        .technology {
            font-size: 18px;
            font-weight: 300;
            margin-right: 20px;
        }
    }

    .project-page-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;

        .gallery-title {
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 20px;
            font-family: "Roboto Mono", monospace;
        }

        .project-gallery {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            .gallery-row {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                // margin-bottom: 20px;

                .gallery-image {
                    width: 100%;
                    height: 100%;
                    min-width: 300px;
                    min-height: 300px;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    // position: absolute;
                    // margin-right: 20px;

                    .photo-text {
                        z-index: 3;
                        transition: .5s all cubic-bezier(0, 0, 0, 1);
                    }

                    .front-image {
                        filter: brightness(0.5) grayscale(0.9)
                    }

                    .front-image,
                    .back-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: .5s all cubic-bezier(0, 0, 0, 1);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .project-page-container {
        width: 100vw;
        min-height: 100vh;
        background-color: #0c0c0c;
        color: white;
        padding: 40px;

        .project-brief-description {
            width: 100%;
        }

        .project-technologies {
            flex-direction: column;
        }

        .project-page-gallery {
            .project-gallery {

                .gallery-row {
                    flex-direction: column;
                    
                    .gallery-image {
                        width: 100% !important;
                        max-height: 300px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}