@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$primary-font: "Roboto", sans-serif;

$white: #ffffff;
$mono-white: #d9d9d9;
$mono-black: #202020;
$mono-gray: #0a0a0a;
$full-black: #000000;

$primary-font-color: $white;
$primary-color: $primary-font-color;
$secondary-color: $mono-gray;

$primary-background-color-dark: $mono-black;
$secondary-background-color-dark: $mono-gray;
$primary-background-color-light: $mono-white;
