@import "../../pages/Home.module.scss";
@import "../../pages/About/About.module.scss";
@import "../../pages/all-my-links/AllMyLinks.module.scss";
@import "../../pages/Contact/Contact.module.scss";
@import "../../pages/project/[id]/ProjectPage.module.scss";
@import "../../pages/works/Works.module.scss";
@import "../../components/CursorFollower/CursorFollower.module.scss";
@import "../../components/Header/header.module.scss";
@import "../../components/ImageBackground/ImageBackground.module.scss";
@import "../../components/Loading/Loading.module.scss";
@import "../../components/NextPageButton/NextPageButton.module.scss";
@import "../../components/NoiseFilter/NoiseFilter.module.scss";
@import "../../components/ProjectItem/ProjectItem.module.scss";
@import "../../components/ProjectModal/ProjectModal.module.scss";
@import "../../components/ResumeCard/resumeCard.module.scss";
