@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,400&display=swap");

.container {
  width: 100vw;
  // height: 100vh;
  background-color: rgb(10, 10, 10);
  color: white;
  z-index: 3;
  padding-top: 10vh;
  justify-content: center;
}
.about {
  width: 100%;
  // max-width: 1920px;
  height: 2450px;
  display: flex;
  justify-content: center;
  // align-items: center;
  // padding: 0 0 0 10%;

  background-color: rgb(10, 10, 10);
  color: black;
  overflow-y: hidden;
  max-width: 1920px;
  margin: 0 auto;

  &__left {
    width: 55%;
    height: 90vh;

    img {
      height: 100%;
      width: 90%;
      object-fit: cover;
      -webkit-filter: grayscale(80%);
      margin-top: 80px;
    }
  }

  &__right {
    width: 65%;
    height: 100%;
    color: white;
    padding: 343px 80px 150px 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Roboto Mono", monospace;

    h2 {
      font-weight: 400;
      font-size: 4rem;
      margin-bottom: 300px;
    }

    h4 {
      font-weight: 300;
      font-size: 1.2rem;
    }

    &__aboutMe,
    &__background {
      margin-bottom: 200px;
      width: 100%;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 50px;
        border-bottom: 2px solid white;
      }
    }
  }
}
