@use "../references" as *;

.footer-container {
  width: 100%;
  padding: 40px 0;
  // background-color: #f5f5f5;

  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 1440px;

  @include respond-to(mobile-768) {
    display: none;
  }

  .social-links-container {
    display: flex;
    flex-direction: row;
    gap: 61px;
    width: 100%;

    @include respond-to(tablet-1024) {
      gap: 40px;
    }

    .social-link {
      @include text-box-text;
      font-size: 18px;
      text-decoration: none;

      display: flex;
      flex-direction: row;
      align-items: flex-end;

      gap: 8px;
      transition: gap 0.4s ease;

      @include respond-to(tablet-1024) {
        font-size: 16px;
        gap: 6px;
      }

      &:hover {
        gap: 16px;
        transition: gap 0.2s cubic-bezier(0, 0, 0, 1);
      }
    }
  }

  .work-message-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .work-message-text {
      @include footer-text-box-text;

      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include respond-to(tablet-1024) {
        font-size: 20px;
      }
    }
  }
}
